.xxx {
    border: solid 1px #dadada;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 5px;
    padding: 30px;
}
.debug-box {
    border: solid 1px #d9c8ff;
    margin-top: 30px;
    border-radius: 5px;
    padding: 20px;
}
.debug-box > h5 {
    text-align: center;
    margin-bottom: 20px;    
}
.HeadLine {
    text-align: center;
}
.pass-box {
    margin-top:15px;
}
.id-box {
    margin-top:50px;
}
.login-btn {
    width: 100%;
    margin-top: 10px;
}
.mb5 {
    margin-bottom: 5px;
}